<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exemple.android.cookbook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".supporting.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddRecipeActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.AddCategoryRecipeActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.AddStepActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.RecipeListActivity"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RecipeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".activities.RecipeListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.StepRecipeActivity"/>
        <activity
            android:name=".activities.AuthenticationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelectedRecipeActivity"
            android:parentActivityName=".activities.SelectedRecipeListActivity" />
        <activity
            android:name=".activities.SelectedRecipeListActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.SelectedStepRecipeActivity" />
        <activity android:name="com.android.camera.CropImage" />
        <activity
            android:name=".activities.InfoVRActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ShoppingBasketActivity"
            android:parentActivityName=".activities.MainActivity"/>
        <activity android:name=".activities.ShoppingRecipeActivity"
            android:parentActivityName=".activities.ShoppingBasketActivity"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="49038910b9ef574b84a5121e68a07e8b94810ed3" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.exemple.android.cookbook"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_provider_path" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity android:name=".activities.EditRecipeActivity" />
        <activity android:name=".activities.EditRecipeStepActivity"/>
    </application>

</manifest>