<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exemple.android.cookbook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".supporting.MyFirebaseApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddRecipeActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.AddCategoryRecipeActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".activities.AddStepActivity"
            android:screenOrientation="userPortrait" />
        <activity android:name=".activities.RecipeListActivity" />
        <activity android:name=".activities.RecipeActivity"
            android:parentActivityName=".activities.RecipeListActivity"/>
        <activity android:name=".activities.StepRecipeActivity" />
        <activity android:name=".activities.AuthenticationActivity"></activity>
        <activity android:name=".activities.SelectedRecipeActivity"
            android:parentActivityName=".activities.SelectedRecipeListActivity"/>
        <activity android:name=".activities.SelectedRecipeListActivity"
            android:parentActivityName=".activities.MainActivity"/>
        <activity android:name=".activities.SelectedStepRecipeActivity"/>
    </application>

</manifest>